<%- include('../partials/kmcHeader') %>

    <!-- hero-area start -->
    <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="page-title">
                        <p class="small-text pb-15">We are here for your care.</p>
                        <h1>Gallery</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                    <div class="page-breadcumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero-area end -->
    <!-- Photo Gallery  -->
    <div class="photo-gallery pt-180 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="section-title text-center pos-rel mb-75">
                        <div class="section-icon">
                            <img class="section-back-icon" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                            <h5>Photo Gallery</h5>
                            <h1>Explore our experiences</h1>
                        </div>
                        <div class="section-line pos-rel">
                            <img src="img/shape/section-title-line.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="gallery-button mb-50">
                        <div class="gallery-filter">
                            <button class="active" data-filter="*">show all</button>
                            <button data-filter=".cate1">Heritage</button>
                            <button data-filter=".cate2">Rehab</button>
                            <button data-filter=".cate3">Practice</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gallery-portfolio">
                <div class="col-lg-4 col-md-6 grid-gallery cate1 cate2">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/1.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/1.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="#">KaNyamazane Medical Centre</a></h4>
                            <span><a href="#">medical</a> . <a href="#">Centre</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-gallery cate3 cate2">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/2.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/2.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="#">Kanyamazane Medical</a></h4>
                            <span><a href="#">Medical</a> . <a href="#">Centre</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-gallery cate1 cate4">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/3.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/3.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="#">KaNyamazane Medical Centre</a></h4>
                            <span><a href="#">Medical</a> . <a href="#">Centre</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-gallery cate4 cate2">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/4.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/4.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="#">Best Medical Services</a></h4>
                            <span><a href="#">Medical</a> . <a href="#">Service</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-gallery cate1 cate4 cate3 cate6">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/5.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/5.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="images/team/1.jpg">Best Doctors</a></h4>
                            <span><a href="#">Medical</a> . <a href="#"></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-gallery cate3 cate1 cate5 cate4">
                    <div class="h5gallery__wrapper pos-rel text-center mb-30">
                        <div class="h5gallery-thumb">
                            <img class="img" src="images/team/6.jpg" alt="">
                        </div>
                        <div class="h5gallery-content">
                            <a class="popup-image" href="images/team/6.jpg"><i class="fal fa-plus"></i></a>
                            <h4 class="white-color"><a href="#">Medical Services</a></h4>
                            <span><a href="#">Medical</a> . <a href="#"></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Photo Gallery end -->
    <%- include('../partials/kmcFooter') %>