<%- include('../partials/kmcHeader') %>

    <main>
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>HIV/AIDS Care</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">HIV/AIDS Care</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
        <!-- service-details-area start -->
        <div class="service-details-area pt-120 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <article class="service-details-box">
                            <div class="service-details-thumb mb-80">
                                <img class="img" src="images/team/team.jpg" alt="">
                            </div>
                            <div class="section-title pos-rel mb-45">
                                <div class="section-icon">
                                    <img class="section-back-icon back-icon-left" src="img/section/section-back-icon-sky.png" alt="">
                                </div>
                                <div class="section-text pos-rel">
                                    <h5 class="green-color text-up-case">HIV/AIDS Care</h5>
                                    <h1>We are here to help when you need us.</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>


                            <div class="service-details-text mb-30">
                                <p>The human immunodeficiency contamination (HIV) centers around the safe system and cripples people's protection from various sicknesses and a couple of sorts of dangerous development that people with strong resistant structures
                                    might even more at any point successfully battle off. As the disease annihilates and weakens the ability of insusceptible cells, defiled individuals continuously become immunodeficient. Safe capacity is routinely assessed
                                    by CD4 cell count.</p>

                                <p>The most outstanding period of HIV tainting is Helps , which can require various years to make if not treated, dependent upon the individual. Helps is described by the headway of explicit growths, pollutions or other serious
                                    long stretch clinical signs.</p>
                            </div>


                            <div class="section-title pos-rel mb-45">
                                <div class="section-icon">
                                    <img class="section-back-icon back-icon-left" src="img/section/section-back-icon-sky.png" alt="">
                                </div>
                                <div class="section-text pos-rel">
                                    <h1>Diagnosis.</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>


                            <div class="service-details-text mb-30">
                                <p>We analyze HIV through quick indicative tests that give same-day results. This significantly works with early conclusion and linkage with treatment and care. Individuals can likewise utilize HIV individual tests to test
                                    themselves. Be that as it may, no single test can give a full HIV positive determination; corroborative testing is required, led by a Dr Mavuso or Geneviewe center. We recognize HIV contamination with extraordinary
                                    precision utilizing WHO prequalified tests inside a broadly supported testing system and calculation.</p>

                            </div>


                            <div class="section-title pos-rel mb-45">
                                <div class="section-icon">
                                    <img class="section-back-icon back-icon-left" src="img/section/section-back-icon-sky.png" alt="">
                                </div>
                                <div class="section-text pos-rel">
                                    <h1>Treatment</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>


                            <div class="service-details-text mb-30">
                                <p>We assist patients with overseeing HIV illness by treatment regimens made out of a mix of antiretroviral (ARV) drugs. Current antiretroviral treatment (Craftsmanship) doesn't fix HIV contamination yet stifles viral replication
                                    and permits a singular's invulnerable framework recuperation to reinforce and recover the ability to fend off crafty diseases and a few tumors. KaNyamazane Clinical Center Treat all individuals living with HIV, including
                                    kids, young people, grown-ups and pregnant and breastfeeding ladies, paying little heed to clinical status or CD4 cell count.</p>
                            </div>
                            <div class="section-title pos-rel mb-50">
                                <div class="section-text pos-rel">
                                    <h5 class="green-color text-up-case">download</h5>
                                    <h1>Free Download Resources</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>
                            <div class="download-area">
                                <a class="download-box mb-20" href="#">
                                    <div class="single-download-inner">
                                        <img src="img/icon/pdf.png" alt="">
                                        <span>HIV/AIDS GUIDELINE.pdf</span>
                                        <span class="download-size">57KB</span>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>

                    <div class="col-xl-5 col-lg-4">
                        <div class="service-widget mb-50">
                            <div class="widget-title-box mb-30">
                                <h3 class="widget-title">More Services</h3>
                            </div>
                            <div class="more-service-list">
                                <ul>
                                    <li>
                                        <a href="/male-circumcision-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-1.png" alt=""></div>
                                            <div class="more-service-title">Male Circumcision</div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/infectious-vaccination-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-6.png" alt=""></div>
                                            <div class="more-service-title">Infectious Diseases & Vaccination</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/xray-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-1.png" alt=""></div>
                                            <div class="more-service-title">Male Circumcision</div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/primary-care-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-6.png" alt=""></div>
                                            <div class="more-service-title">Women's & Men's Health</div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/hiv-aids-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-4.png" alt=""></div>
                                            <div class="more-service-title">HIV/AIDS Care</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/asthma-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-1.png" alt=""></div>
                                            <div class="more-service-title">Asthma Care</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/kanyamazane-drug-rehab-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-5.png" alt=""></div>
                                            <div class="more-service-title">Drug Rehabilitation</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/primary-care-services">
                                            <div class="more-service-icon"><img src="img/services/more-ser-6.png" alt=""></div>
                                            <div class="more-service-title">Primary Care</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="service-widget mb-50">
                            <div class="widget-title-box mb-30">
                                <h3 class="widget-title">Get Some Advice?</h3>
                            </div>
                            <form class="service-contact-form" action="/contact" method="post">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-user mb-20">
                                            <input type="text" name="name" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-mail mb-20">
                                            <input type="text" name="email" placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-mail mb-20">
                                            <input type="text" name="subject" placeholder="Enter your subject">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-mail mb-20">
                                            <input type="text" name="phone" placeholder="Enter your phone number">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-mail mb-20">
                                            <input type="text" name="message" placeholder="Enter your message ">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="ser-form-btn text-center mt-40">
                                <a data-animation="fadeInLeft" data-delay=".6s" type="submit" class="btn btn-icon ml-0" style="animation-delay: 0.6s;" tabindex="0"><span>+</span>Request for call</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- service-details-area end -->
    </main>

    <%- include('../partials/kmcFooter') %>