<%- include('../partials/kmcHeader') %>
    <!-- hero-area start -->
    <section class="hero-area">
        <div class="hero-slider">
            <div class="slider-active">
                <div class="single-slider h4slider-bg pos-rel d-flex align-items-center pl-55" data-background="images/slider/dr-testimonial-bg.jpg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-8 col-lg-12 col-md-10">
                                <div class="hero-text">
                                    <div class="hero-slider-caption h4hero-content mb-35">
                                        <h1 class="white-color" data-animation="fadeInUp" data-delay=".4s">KaNyamazane Doctor</h1>
                                        <p class="white-color" data-animation="fadeInUp" data-delay=".6s">Your life is our specialty. Our experienced physicians offers a comprehensive range of healthcare services.</p>

                                        <div class="h4-span" data-animation="fadeInUp" data-delay=".8s">
                                            <span class="white-color"><i class="fal fa-arrow-circle-right"></i><span>Modern Clinic For Better Wellness</span></span>
                                            <span class="white-color"><i class="fal fa-arrow-circle-right"></i><span>Mbombela health needs are met through us</span></span>
                                        </div>

                                    </div>
                                    <div class="hero-slider-btn h4hero-btn">
                                        <a data-animation="fadeInLeft" data-delay=".9s" href="/about-us" class="btn btn-icon ml-0"><span>+</span>learn more</a>
                                        <a data-animation="fadeInLeft" data-delay="1s" href="/services" class="btn btn-icon btn-icon-green ml-0"><span>+</span>Our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero-area end -->
    <!-- about-area start -->
    <section class="about-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="medical-icon-brand-2">
                        <img src="img/about/medical-brand-icon-border.png" alt="">
                    </div>
                    <div class="about-left-side pos-rel mb-30">
                        <div class="about-front-img">
                            <img src="images/team/us.jpg" alt="">
                        </div>
                        <div class="about-shape">
                            <img src="img/about/about-shape.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="about-right-side pt-55 mb-30">
                        <div class="about-title mb-20">
                            <h5>About Us</h5>
                            <h1>About KaNyamazane Medical Centre.</h1>
                        </div>
                        <div class="about-text">
                            <p>KaNyamazane Medical Centre is a Confidential Clinical Practice that invests heavily in giving selective medical care to the community of KaNyamazane and Mbombela. We offer family care, Men Health, Women Health, Drug Restoration,
                                asthma Care, essential consideration, HIV and AIDS Care, Irresistible Sickness and Immunization, Male Circumcision and X-Rays to esteemed patients.</p>
                            <p>KaNyamazane Clinical Center works under the authority of Dr J.G Mavuso. We are engaged with various social undertakings including running a Medication Rehabilitation Chipping in Program to help KaNyamazane young people to battle
                                chronic drug use, and we likewise have soccer competition for all KaNyamazane Secondary Schools.</p><br>
                        </div>
                        <!--
                        <div class="about-author d-flex align-items-center">
                            <div class="author-ava">
                                <img src="images/team/drm.jpg" alt="">
                            </div>
                            <div class="author-desination">
                                <h4>Dr Joel Gcina Mavuso</h4>
                                <h6>founder</h6>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area end -->
    <!-- services-area start -->
    <section class="servcies-area gray-bg pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="section-title text-center pos-rel mb-75">
                        <div class="section-icon">
                            <img class="section-back-icon" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                            <h5>Departments</h5>
                            <h1>Managed Your Heathcare Services</h1>
                        </div>
                        <div class="section-line pos-rel">
                            <img src="img/shape/section-title-line.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service1.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">X-RAYS</a></h3>
                            <p>New X-Ray latest technology allows us to provide precise reflection of the skeletal system.</p>
                            <a class="service-link" href="x-rays-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service4.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">HIV/AIDS</a></h3>
                            <p>Our team personalizes each patient’s treatment based on his/her clinical profile.</p>
                            <a class="service-link" href="/hiv-aids-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service5.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Drug Rehabilitation </a></h3>
                            <p>Our clinic is always ready for help youth to combat drug addiction.</p>
                            <a class="service-link" href="/kanyamazane-drug-rehab-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service6.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Infectious Diseases & Vaccination</a></h3>
                            <p>Our clinic is always ready for urgent care such as Fractures, Infections, Bites, Minor Burns, Ear Aches, etc..</p>
                            <a class="service-link" href="/infectious-vaccination-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service6.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Male Circumcision </a></h3>
                            <p>Circumcision is similar for older boys and adults.</p>
                            <a class="service-link" href="/male-circumcision-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service6.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Primary Care</a></h3>
                            <p>Nurse provide childhood expanded Immunization program as well as the Antenatal care clinic.</p>
                            <a class="service-link" href="primary-care-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service6.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Women's Health</a></h3>
                            <p>Care for Women with Abdominal, Bladder & Pelvic Health Conditions.</p>
                            <a class="service-link" href="/women-men-health-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service6.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Men's Health</a></h3>
                            <p>Experts in diagnosing and treating medical conditions specific to men.</p>
                            <a class="service-link" href="/women-men-health-services">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                            <img src="img/services/service1.png" alt="">
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Asthma Care</a></h3>
                            <p> We order to test measure airflow through your lungs and is used to diagnose and monitor your progress with treatment.</p>
                            <a class="service-link" href="/asthma-services">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area end -->
    <!-- team-area start -->
    <section class="team-area pt-115 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-10">
                    <div class="section-title pos-rel mb-75">
                        <div class="section-icon">
                            <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                            <h5>Our Team</h5>
                            <h1>A Professional & Care Provider</h1>
                        </div>
                        <div class="section-line pos-rel">
                            <img src="img/shape/section-title-line.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="section-button text-right d-none d-lg-block pt-80">
                        <a data-animation="fadeInLeft" data-delay=".6s" href="/appointment" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/drm.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Dr. J.G Mavuso</h3>
                            <h6>Founder</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/gene.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Genevieve Mavuso</h3>
                            <h6>Sister</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/themb.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Thembi Masiye</h3>
                            <h6>Senior Practice Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/siph.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Sipho Thabethe</h3>
                            <h6>Senior Practice Assistan</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/vaness.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Vanessa Herclass</h3>
                            <h6>Doctor's Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/giv.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Given Mbokane</h3>
                            <h6>Practice Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/jan.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Jane Mjekula</h3>
                            <h6>Staff Nurse</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/Hazel.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Hazel Mathebula</h3>
                            <h6>Clinic Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/hla.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Hlanhla Kubhayi</h3>
                            <h6>General Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/ab.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Abi Nkosi</h3>
                            <h6>Practice Assistant</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                            <img src="images/team/mbath.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3>Sibusiso Mbatha</h3>
                            <h6>Practice Assistant</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area end -->
    <!-- fact-area start -->
    <section class="fact-area fact-map primary-bg pos-rel pt-115 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="sectiont-title pos-rel mb-45">
                        <div class="section-text section-text-white pos-rel">
                            <h5>We are available 7 days a week</h5>
                            <h1 class="white-color">We Always Ready For A Challenge.</h1>
                        </div>
                    </div>
                    <div class="section-button section-button-left mb-30">
                        <a data-animation="fadeInLeft" data-delay=".6s" href="/appointment" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-md-8">
                    <div class="cta-satisfied">
                        <div class="single-satisfied mb-50">
                            <h1>10k+</h1>
                            <h5> <i class="fas fa-user"></i> Satisfied Patients</h5>
                            <p>Ever since we started, our goal is to leave patients' lives better than we found them.
                            </p>
                        </div>
                        <div class="single-satisfied mb-50">
                            <h1>15+</h1>
                            <h5><i class="far fa-thumbs-up"></i> National Awards</h5>
                            <p>We are recognized for our life changing works in South Africa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-area end -->
    <!-- pricing-area start -->
    <section class="pricing-area gray-bg pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12">
                    <div class="section-title pos-rel mb-75">
                        <div class="section-icon">
                            <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                            <h5>Our Plans</h5>
                            <h1>Pricing &amp; Plans</h1>
                        </div>
                        <div class="section-line pos-rel">
                            <img src="img/shape/section-title-line.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12">
                    <div class="pricing-menu f-right">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">We accept almost all Medical Aids</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="pricing-box mb-30">
                                        <div class="pricing-thumb mb-45">
                                            <img src="img/pricing/pricing-thumb-1.png" alt="">
                                        </div>
                                        <div class="pricing-content">
                                            <h1>Consultation</h1>
                                            <p>Ut enim ad minim veniam, quis istomw nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                            </p>
                                            <a data-animation="fadeInLeft" data-delay=".6s" href="#" class="btn btn-icon ml-0"><span>+</span>Price:
                                                R750.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="pricing-box mb-30">
                                        <div class="pricing-thumb mb-45">
                                            <img src="img/pricing/pricing-thumb-2.png" alt="">
                                        </div>
                                        <div class="pricing-content">
                                            <h1>Flue Vaccination</h1>
                                            <p>Ut enim ad minim veniam, quis istomw nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                            </p>
                                            <a data-animation="fadeInLeft" data-delay=".6s" href="#" class="btn btn-icon ml-0"><span>+</span>Price:
                                                R 180.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="pricing-box mb-30">
                                        <div class="pricing-thumb mb-45">
                                            <img src="img/pricing/pricing-thumb-3.png" alt="">
                                        </div>
                                        <div class="pricing-content">
                                            <h1>Rehabilitation</h1>
                                            <p>Ut enim ad minim veniam, quis istomw nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                            </p>
                                            <a data-animation="fadeInLeft" data-delay=".6s" href="#" class="btn btn-icon ml-0"><span>+</span>Price:
                                                Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-area end -->
    <!-- cta-area start -->
    <section class="cta-area pos-rel pt-115 pb-120" data-background="images/slider/dr-testimonial-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="cta-text text-center">
                        <div class="section-title pos-rel mb-50">
                            <div class="section-text section-text-white pos-rel">
                                <h5>Stay healthy & strong to enjoy life</h5>
                                <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                            </div>
                        </div>
                        <div class="section-button section-button-left">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="/appointment" class="btn btn-icon btn-icon-green ml-0"><span>+</span>Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area end -->
    <!-- latest-news-area start -->
    <section class="latest-news-area pt-115 mb-5 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title pos-rel mb-75">
                        <div class="section-icon">
                            <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                            <h5>News</h5>
                            <h1>Get Every Single Updates Here.</h1>
                        </div>
                        <div class="section-line pos-rel">
                            <img src="img/shape/section-title-line.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                    <div class="section-button text-right pt-80">
                        <a data-animation="fadeInLeft" data-delay=".6s" href="/blogs" class="btn btn-icon ml-0"><span>+</span>our blog</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news-box mb-30">
                        <div class="latest-news-thumb mb-35">
                            <img src="images/blog/graduation.jpg" alt="">
                        </div>
                        <div class="latest-news-content">
                            <div class="news-meta mb-10">
                                <span><a href="#" class="news-tag">Featured on MP News,</a></span>
                                <span><a href="#" class="news-tag">Rehabilation</a></span>
                            </div>
                            <h3><a href="https://mpumalanganews.co.za/389243/kanyamazane-medical-centre-helps-combat-addiction/">Celebrating with our KaNyamazane youth as they break-free from drug addiction</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news-box mb-30">
                        <div class="latest-news-thumb mb-35">
                            <div class="post-video embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lSqPpQHnnWA"></iframe></div>
                        </div>
                        <div class="latest-news-content">
                            <div class="news-meta mb-10">
                                <span><a href="#" class="news-tag">Covid-19,</a></span>
                                <span><a href="#" class="news-tag">Medicine</a></span>
                            </div>
                            <h3>
                                <a href="#">Facts about 5G and its link to Covid-19.</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news-box mb-30">
                        <div class="latest-news-thumb mb-35">
                            <div class="post-video embed-responsive embed-responsive-16by9"> <iframe width="560" height="315" src="https://www.youtube.com/embed/f8Gq_YHBsUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>
                        </div>
                        <div class="latest-news-content">
                            <div class="news-meta mb-10">
                                <span><a href="#" class="news-tag">Medical,</a></span>
                                <span><a href="#" class="news-tag">History</a></span>
                            </div>
                            <h3><a href="/blog">What it took Dr Mavuso to attain his success.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest-news-area end -->

    <%- include('../partials/kmcFooter') %>