<%- include('../partials/kmcHeader') %>


    <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                        <p class="small-text pb-15">We are here for your care.</p>
                        <h1>Notice Board</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                    <div class="page-breadcumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero-area end -->

    <!-- blog-area start -->
    <section class="blog-area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <article class="postbox post format-image mb-40">
                        <div class="postbox__thumb">
                            <a href="#">
                                <img src="img/blog/b1.jpg" alt="blog image">
                            </a>
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                                <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">But there is a downside. Simply running a search for medical blogs.</a>
                            </h3>
                            <div class="post-text mb-20">
                                <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health topics that consistently affect a wide range of people. They also get kudos for addressing the emotional
                                    challenges folks face when managing conditions.</p>
                            </div>
                            <div class="read-more mt-30">
                                <a href="#" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="postbox post format-video mb-40">
                        <div class="postbox__video">
                            <img src="img/blog/b6.jpg" alt="blog image">
                            <a class="popup-video video-btn" href="https://www.youtube.com/watch?v=Y6MlVop80y0"><i
                                class="fas fa-play"></i></a>
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                                <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">To help ease the process, we identified 75 of our favorite medical blogs.</a>
                            </h3>
                            <div class="post-text mb-20">
                                <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health topics that consistently affect a wide range of people. They also get kudos for addressing the emotional
                                    challenges folks face when managing conditions.</p>
                            </div>
                            <div class="read-more mt-30">
                                <a href="#" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="postbox post format-gallery mb-40">
                        <div class="postbox__gallery">
                            <img src="img/blog/b5.jpg" alt="blog image">
                            <img src="img/blog/b6.jpg" alt="blog image">
                            <img src="img/blog/b7.jpg" alt="blog image">
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                                <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">The well known health website has quite a collection of blogs.</a>
                            </h3>
                            <div class="post-text mb-20">
                                <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health topics that consistently affect a wide range of people. They also get kudos for addressing the emotional
                                    challenges folks face when managing conditions.</p>
                            </div>
                            <div class="read-more mt-30">
                                <a href="#" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="postbox post format-audio mb-40">
                        <div class="postbox__audio embed-responsive embed-responsive-16by9">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/469608615&amp;color=%23ff0000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                                <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">If you find yourself constantly bookmarking health sections on news.</a>
                            </h3>
                            <div class="post-text mb-20">
                                <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health topics that consistently affect a wide range of people. They also get kudos for addressing the emotional
                                    challenges folks face when managing conditions.</p>
                            </div>
                            <div class="read-more mt-30">
                                <a href="#" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="postbox post format-quote mb-40">
                        <div class="post-text">
                            <blockquote>
                                <p>This health blog from NPR takes a fairly broad look at the medical world,.</p>
                                <footer>- Rosalina Pong</footer>
                            </blockquote>
                        </div>
                    </article>
                    <div class="basic-pagination basic-pagination-2 mb-40">
                        <ul>
                            <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area end -->


    <%- include('../partials/kmcFooter') %>