<%- include('../partials/kmcHeader') %>


    <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                        <p class="small-text pb-15">We are here for your care.</p>
                        <h1>Blog</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                    <div class="page-breadcumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero-area end -->

    <!-- blog-area start -->
    <section class="blog-area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <article class="postbox post format-image mb-40">
                        <div class="postbox__thumb">
                            <a href="#">
                                <div class="post-video embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lSqPpQHnnWA"></iframe></div>
                            </a>
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">Facts about 5G and its link to Covid-19.</a>
                            </h3>
                            <div class="read-more mt-30">
                                <a href="https://www.youtube.com/embed/f8Gq_YHBsUo" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="postbox post format-image mb-40">
                        <div class="post-video embed-responsive embed-responsive-16by9"> <iframe width="560" height="315" src="https://www.youtube.com/embed/f8Gq_YHBsUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                            </div>
                            <h3 class="blog-title">
                                <a href="#">What it took Dr Mavuso to attain his success.</a>
                            </h3>
                            <div class="read-more mt-30">
                                <a href="https://www.youtube.com/embed/f8Gq_YHBsUo" class="btn theme-btn">read more</a>
                            </div>
                        </div>
                    </article>
                    <div class="basic-pagination basic-pagination-2 mb-40">
                        <ul>
                            <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area end -->


    <%- include('../partials/kmcFooter') %>