 <main>
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Join Rehab</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Appointment</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
        <!-- about-area start -->
        <section class="about-area pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="about-left-side pos-rel mb-30">
                            <div class="medical-icon-brand-2 medical-icon-brand-3">
                                <img src="img/about/medical-brand-icon-border.png" alt="">
                            </div>
                            <div class="about-front-img pos-rel">
                                <img src="img/about/about-img-3.jpg" alt="">
                                <a class="popup-video about-video-btn white-video-btn"
                                    href="https://www.youtube.com/watch?v=I3u3lFA9GX4"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="about-shape">
                                <img src="img/about/about-shape.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="about-right-side pt-55 mb-30">
                            <div class="about-title mb-20">
                                <h5>About Us</h5>
                                <h1>Short Story About Kanyamazane Medical Centre.</h1>
                            </div>
                            <div class="about-text mb-50">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia.</p>
                            </div>
                            <div class="our-destination">
                                <div class="single-item mb-30">
                                    <div class="mv-icon f-left">
                                        <img src="img/about/destination-icon-1.png" alt="">
                                    </div>
                                    <div class="mv-title fix">
                                        <h3>Our Mission</h3>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute
                                            irure dolor in reprehenderit in voluptate velit esse.</p>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="mv-icon f-left">
                                        <img src="img/about/destination-icon-2.png" alt="">
                                    </div>
                                    <div class="mv-title fix">
                                        <h3>Our Vission</h3>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area end -->
        <!-- calculate-area start -->
        <section class="appointment-area appointment-area-3 pos-rel pt-115 pb-120" data-background="img/appoinment/appointment-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="calculate-box white-bg">
                        <form action="/appointment" method="POST">
                            <div class="calculate-content">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="about-title news-letter-title mb-70">
                                            <h5 class="pink-color">Appointment</h5>
                                            <h1>Apply for Drug Rehabiliation</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">  
                                    
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <input type="text" name"name" placeholder="Your Real Name & Surname">
                                            <i class="fas fa-user"></i>
                                        </form>
                                    </div> 
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <select name"drugAddictType">
                                            <option value="1">Nyaope</option>
                                            <option value="2">Weed</option>
                                            <option value="2">Cocaine</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <input type="text" name"email" placeholder="Your Email Address">
                                            <i class="fas fa-email"></i>
                                        </form>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <input type="text" name"phoneNumber" placeholder="Your Phone number">
                                            <i class="fas fa-phone"></i>
                                        </form>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <input type="text" name="appointDate": placeholder="Select date">
                                            <i class="far fa-calendar"></i>
                                        </form>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <input type="text" placeholder="Add time">
                                            <i class="far fa-clock"></i>
                                        </form>
                                    </div>
                                    <div class="col-xl-12">
                                        <form class="calculate-form appointment-form-3 mb-20" action="#">
                                            <textarea name="Reason" cols="30" rows="10" placeholder="Why you want defeat Drug Addiction Now?"></textarea>
                                            <i class="far fa-edit"></i>
                                        </form>
                                    </div>
                                     
                                </div>
                            </div>
                             <button type="submit">
                                <a href="#" class="btn mt-40">submit query</a> 
                             </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- calculate-area end -->
        <!-- latest-news-area start -->
        <section class="latest-news-area pt-115 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="section-title pos-rel mb-75">
                            <div class="section-icon">
                                <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                            </div>
                            <div class="section-text pos-rel">
                                <h5>News</h5>
                                <h1>Get Every Single Updates Here.</h1>
                            </div>
                            <div class="section-line pos-rel">
                                <img src="img/shape/section-title-line.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                        <div class="section-button text-right pt-80">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="#" class="btn btn-icon ml-0"><span>+</span>our
                                blog</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="latest-news-box mb-30">
                            <div class="latest-news-thumb mb-35">
                                <img src="img/blog/blog-thumb-1.jpg" alt="">
                            </div>
                            <div class="latest-news-content">
                                <div class="news-meta mb-10">
                                    <span><a href="#" class="news-tag">Medical,</a></span>
                                    <span><a href="#" class="news-tag">Medicine</a></span>
                                </div>
                                <h3><a href="news-details.html">Lorem ipsum dolor sit amet, cons ectetur adidis dicolo
                                        wiran.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="latest-news-box mb-30">
                            <div class="latest-news-thumb mb-35">
                                <img src="img/blog/blog-thumb-2.jpg" alt="">
                            </div>
                            <div class="latest-news-content">
                                <div class="news-meta mb-10">
                                    <span><a href="#" class="news-tag">Medical,</a></span>
                                    <span><a href="#" class="news-tag">Medicine</a></span>
                                </div>
                                <h3><a href="news-details.html">Lorem ipsum dolor sit amet, cons ectetur adidis dicolo
                                        wiran.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12">
                        <div class="recent-news-list mb-30">
                            <div class="latest-news-content singl-news news-border-bottom">
                                <h3><a href="news-details.html">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                                <span class="meta-date"><i class="far fa-calendar"></i>23rd Jan 2019</span>
                                <span class="meta-date"><a href="#"><i class="far fa-comments"></i>33 Comments</a></span>
                            </div>
                            <div class="latest-news-content singl-news news-border-bottom">
                                <h3><a href="news-details.html">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                                <span class="meta-date"><i class="far fa-calendar"></i>23rd Jan 2019</span>
                                <span class="meta-date"><a href="#"><i class="far fa-comments"></i>33 Comments</a></span>
                            </div>
                            <div class="latest-news-content singl-news ">
                                <h3><a href="news-details.html">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                                <span class="meta-date"><i class="far fa-calendar"></i>23rd Jan 2019</span>
                                <span class="meta-date"><a href="#"><i class="far fa-comments"></i>33 Comments</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- latest-news-area end -->
    </main>