<footer>
    <div class="footer-top primary-bg pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8">
                    <div class="footer-contact-info mb-30">
                        <div class="emmergency-call fix">
                            <div class="emmergency-call-icon f-left">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="emmergency-call-text f-left">
                                <h6>Emergency number</h6>
                                <span>013 750 1026/72</span>
                            </div>
                        </div>
                        <div class="footer-logo mb-35">
                            <a href="/"><img src="img/logo/footer-logo.png" alt=""></a>
                        </div>
                        <div class="footer-contact-content mb-25">
                            <p>KaNyamazane Medical Centre is a Private Medical Practice that takes pride in providing exclusive healthcare services to the local community. We are located in KaNyamazane. Our nurses do primarily the childhood expanded Immunization
                                Program and Antenatal Care Clinic</p>
                        </div>
                        <div class="footer-emailing">
                            <ul>
                                <li><i class="far fa-envelope"></i><a href="#" data-cfemail="">drjgmavuso@kanyamazanemedicalcentre.co.za</a></li>
                                <li><i class="far fa-clone"></i>admin@kanyamazanemedicalcentre.co.za</li>
                                <li><i class="far fa-flag"></i> 6371 Cobra Street KaNyamazane, South Africa</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
                    <div class="footer-widget mb-30">
                        <div class="footer-title">
                            <h3>Departments</h3>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/services">Asthma</a></li>
                                <li><a href="/services">Family Care</li>
                                <li><a href="/services">Women’s Health</a></li>
                                <li><a href="/services">HIV/AIDS</a></li>
                                <li><a href="/services">X-Rays</a></li>
                                <li><a href="/services">Male Circumssion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-3 d-md-none d-lg-block">
                    <div class="footer-widget mb-30">
                        <div class="footer-title">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Departments</a></li>
                                <li><a href="/rehab">Rehabilation</a></li>
                                <li><a href="/press">Press</a></li>
                                <li><a href="/posts">News</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/appointment">Book an Appointment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-25 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-copyright text-center">
                        <p class="white-color">Copyright <a href="https://kanyamazanemedicalcentre.co.za" class="__cf_email__" data-cfemail="">admin@kanyamazanemedicalcentre.co.za</a> Kanyamazane Medical Centre - 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</main>

<!-- JS here -->
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/one-page-nav-min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.meanmenu.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').slideUp(1000);
        }, 1000);
    });
</script>

</body>


<!-- Mirrored from themepure.net/template/medidove-prv/medidove/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Mar 2021 10:16:51 GMT -->

</html>